* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
}

#home {
    background-image: linear-gradient(to top, #2bd35e, rgb(11, 83, 33));
}

#servicos {
    background-color: #998e3d;
    background-image: linear-gradient(to bottom, rgb(11, 83, 33), #998e3d);
}

#galeria {
    background-color: #54691a;
    color: #fff;
}

body .sobre {
    background-color: #fff
}

header {
    background-color: #013220;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.logo img {
    width: 90px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav li {
    font-size: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

.principal {
    display: flex;
    justify-content: flex-start;
    padding: 3rem;
    flex-wrap: wrap;
}

.principal .texto {
    flex: 1;
    min-width: 300px;
}

.principal h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-size: 100px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #32530c, #1b6411, #5a750f, #44E303);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 400%;
    }
}

.principal p {
    font-size: 20px;
    margin-bottom: 1.5rem;
    max-width: 1000px;
}

.principal .imagem img {
    width: 600px;
    border-radius: 10px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    background-color: #013220;
    color: white;
    text-decoration: none;
    padding: 1.7rem 2.5rem;
    border-radius: 6px;
    transition: background 0.3s;
}

.button:hover {
    background-color: #025b32;
}

.servicos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 3rem;
    flex-wrap: wrap;
}

.card1 {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    width: 500px;
    height: auto;
    text-align: center;
}

.card1:hover {
    transition: 0.3s #89d679;
}

.card1 img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card1 p {
    font-size: 0.95rem;
}

.contato {
    padding: 3rem;
}

.contato h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5rem;
}

.contato-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.contato .imagem img {
    width: 600px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    min-width: 10rem;
    min-height: 10rem;
}

input,
textarea {
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    color: #013220;
    min-height: 75px;
}

button {
    background-color: #013220;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #026b38;
}

footer {
    background-color: #013220;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: auto;
}

#galeria1 {
    background-color: #54691a;
}

#galeria1 h1 {
    text-align: center;
}

#galeria1 p {
    text-align: center;
}

.galeria-principal {
    padding: 6rem 2rem;
    background-color: #f5f0e6;
    text-align: center;
}

.galeria-principal h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #013220;
    margin-bottom: 1rem;
}

.galeria-principal p {
    font-family: 'Lato', sans-serif;
    color: #444;
    margin-bottom: 3rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 1rem;
}

.item {
    margin-top: 20px;
    overflow: hidden;
    background-color: rgb(98, 148, 51);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0, 0, 0);
    transition: .3s ease;
}

.item img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    transition: .4s ease;
}

.item:hover img {
    transform: scale(1.08);
    filter: brightness(90%);
}

.item:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.item figcaption {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #013220;
    background: #4aca51;
    padding: 0.8rem;
    text-align: center;
}

#servicos2 {
    min-height: 85vh;
    padding: 2.5rem 1.5rem;
}

#servicos2 h1 {
    text-align: center;
    color: #2bd35e;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem auto;
    gap: 2rem;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 1.3rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
    min-height: 480px;
    min-width: 380px;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    color: #013220;
    margin-bottom: 1rem;
}

.card p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.5rem;
    margin-bottom: .8rem;
}

#galeriaf {
    margin-top: 50px;
}

#sobre {
  background-color: #f5f0e6;           
}

.sobre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.sobre-texto {
  flex: 1;
  min-width: 320px;
  max-width: 600px;
}

.sobre-texto h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #013220;
  margin-bottom: 1.5rem;
  text-align: left;
}

.sobre-texto p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.sobre-imagem img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

@media (max-width: 1024px) {

  nav ul {
    gap: 1rem;
  }

  .texto h1 {
    font-size: 60px;
  }

  .principal .imagem img {
    width: 100%;
    max-width: 450px;
  }

  .card1 {
    width: 90%;
  }

  .contato .imagem img {
    width: 100%;
    max-width: 450px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .principal {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .principal h1 {
    font-size: 45px;
  }

  .principal p {
    font-size: 1rem;
  }

  .servicos {
    flex-direction: column;
    align-items: center;
  }

  .contato-container {
    flex-direction: column;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .grid-galeria {
    grid-template-columns: 1fr;
  }

  .sobre-container {
    flex-direction: column;
    text-align: center;
  }

  .sobre-texto h1 {
    text-align: center;
    font-size: 2.4rem;
  }
}


@media (max-width: 480px) {

  nav li {
    font-size: 1.2rem;
  }

  .logo img {
    width: 65px;
  }

  .principal h1 {
    font-size: 32px;
  }

  .principal .imagem img {
    max-width: 280px;
  }

  .card1 {
    width: 95%;
  }

  .card {
    min-width: unset;
    width: 100%;
  }

  .card h3 {
    font-size: 1.3rem;
  }

  .grid-galeria img {
    height: 200px;
  }

  .sobre-texto p {
    font-size: 1rem;
  }

}

